<ol>

    @if(1){

        
        <ul class="card-container">
            @for (product of products$ | async; track product) {
                <li>

                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ product.name }}</mat-card-title>
                            <mat-card-subtitle>Qt. {{product.quantity}}</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <img mat-card-image src="{{product.}}" alt="Photo of a Shiba Inu"> -->
                        <mat-card-content>
                    <p>
                        Price:     {{product.price}} RS
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button matButton>Add to Cart</button>
                    <button matButton>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </li>
    } @empty {
        <li>No items found.</li>
    }
</ul>
}@else{
 
       <ul class="card-container" style="display: flex;
    flex-direction: column;
    justify-content: space-between;">
            @for (product of products$ | async; track product) {
                <li style="    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;" >
                    {{ product.name }}
                    <p>
                        Price:     {{product.price}} RS
                    </p>
                    Qt. {{product.quantity}}
  
                    <button matButton>Add items</button>
                    <button matButton>Remove</button>
                   
        </li>
    } @empty {
        <li>No items found.</li>
    }
</ul>
}
</ol>

